h2{
    color: rgb(214, 151, 167);
    text-align: center;
    font-size: 40px;
    font-family: Roboto;  
}

.BookPage a {
    color:rgb(77, 90, 65);
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    font-family: Cambria;
    display: flex;
    justify-content: center;
    padding-right: 400px;
    padding-top: 50px;
    
} 
.BookPage img{
    height: 50px;
    width: 50px;
    display: flex;
    justify-items:auto;
    margin-top: -37px;
    margin-left: 32rem;
    size: 10px;
    border-radius: 50% 50%;
    
}