
*{
  box-sizing: border-box;
  margin:0;
}

footer {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: center;
}

.edit {
  padding-top: 35rem;
}
.details {
  padding-top: 25rem;
}

h1 {
  font-size: 70PX;
  color: rgb(80, 148, 148);
  justify-content: center;
  display: flex;
  font-family: 'ZCOOL KuaiLe', cursive;
}



.name {
  color:rgb(205, 208, 231);
  font-size: 25px;
  padding-left: 35px;
  font-family: fantasy;
  font-style: italic;
  font-weight: bold;
  padding-inline-start: 15rem;
  display: flex;
  
}

.name1{  
  display: flex;
  color:rgb(205, 208, 231);
  font-size: 25px;
  /* padding-left: 50px; */
  font-family: fantasy;
  font-style: italic;
  font-weight: bold;
  padding-inline-start: 25rem;
  position: relative;
  
  /* top: 200px !important; */
}



.view {
  color: cornflowerblue;
  font-family: monospace;
  padding-left: 45rem;
}

.add {
  color: cornflowerblue;
  font-family: monospace;
  padding-left: 50rem;

}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 35rem;
 
  
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 35rem;

  
}

.labels {
  display:inline-flex;
  margin-left: 20px;
  color: rgb(58, 51, 51);
  font-family: sans-serif;
  font-weight: bold;
  
}

.tags {
  
  color:rgb(124, 164, 238);
  font-family:'Franklin Gothic Medium';
  font-display:initial;
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
  
}
.locatedTag {
  color: rgb(71, 129, 179);
}

.ratingTag {
  color: rgb(71, 129, 179);
}

