
*{
  box-sizing: border-box;
  margin:0;
}

footer {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: center;
}

.edit {
  padding-top: 35rem;
}
.details {
  padding-top: 25rem;
}

h1 {
  font-size: 70PX;
  color: rgb(80, 148, 148);
  justify-content: center;
  display: flex;
  font-family: 'ZCOOL KuaiLe', cursive;
}

.img1 {
  height: 30rem;
  width: 50rem;
  padding-left: 3rem;
  display: flex;
  justify-content: center;
  border-radius: 20%;
  border-style: none;
}

.img2 {
  height: 30rem;
  width: 50rem;
  padding-left: 3rem;
  display: flex;
  justify-content: center;
  border-radius: 20%;
  border-style: none;
}
.img3 {
  height: 30rem;
  width: 50rem;
  padding-left: 3rem;
  display: flex;
  justify-content: center;
  border-radius: 20%;
  border-style: none;
}
.img4 {
  height: 30rem;
  width: 50rem;
  padding-left: 3rem;
  display: flex;
  justify-content: center;
  border-radius: 20%;
  border-style: none;
}
.img5 {
  height: 30rem;
  width: 50rem;
  padding-left: 3rem;
  display: flex;
  justify-content: center;
  border-radius: 20%;
  border-style: none;
}
.img1 {
  height: 30rem;
  width: 50rem;
  padding-left: 3rem;
  display: flex;
  justify-content: center;
  border-radius: 20%;
  border-style: none;
}
.img6 {
  height: 30rem;
  width: 50rem;
  padding-left: 3rem;
  display: flex;
  justify-content: center;
  border-radius: 20%;
  border-style: none;
}
.img7 {
  height: 30rem;
  width: 50rem;
  padding-left: 3rem;
  display: flex;
  justify-content: center;
  border-radius: 20%;
  border-style: none;
}
.img8 {
  height: 30rem;
  width: 50rem;
  padding-left: 3rem;
  display: flex;
  justify-content: center;
  border-radius: 20%;
  border-style: none;
}
.img9 {
  height: 30rem;
  width: 50rem;
  padding-left: 3rem;
  display: flex;
  justify-content: center;
  border-radius: 20%;
  border-style: none;
}
.img10 {
  height: 30rem;
  width: 50rem;
  padding-left: 3rem;
  display: flex;
  justify-content: center;
  border-radius: 20%;
  border-style: none;
}


.name {
  color:rgb(108, 111, 138);
  font-size: 20px;
  padding-left: 30px;
  font-family: fantasy;
  font-style: italic;
  font-weight: bold;
  
}

.new {
  color: cornflowerblue;
  font-family: monospace;
  padding-left: 100px;
}

.all {
  color: cornflowerblue;
  font-family: monospace;
  padding-left: 90px;
}
